/* Set the idle overlay to transparent white */
.jwplayer.skin-alaska.state-idle .controls {
  background: rgba(255, 255, 255, .7);
}

/* Hide titles on complete */
.jwplayer.skin-alaska.state-complete .title .title-primary,
.jwplayer.skin-alaska.state-complete .title .title-secondary {
  display: none;
}

/* Round, white play & restart buttons with black icons */
.jwplayer.skin-alaska .display-controls .display-icon-container,
.jwplayer.skin-alaska .display-controls .display-icon-container {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.jwplayer.skin-alaska .display-controls .display-icon-container .icon,
.jwplayer.skin-alaska .display-controls .display-icon-container .icon {
  color: #1E1E1E;
  width: 60px;
  height: 60px;
  padding: 20px;
}

/* Change play button colors on idle state, handle hover transitions */
.jwplayer.skin-alaska.state-idle .display-controls .display-icon-container {
  background-color: #e5322c;
  height: 80px;
  width: 80px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.jwplayer.skin-alaska.state-idle .display-controls .display-icon-container .icon {
  color: #fff;
  height: 40px;
  width: 40px;
  padding: 20px;
}


/* Shrink play button on smaller breakpoints */
.jwplayer.skin-alaska.state-idle.breakpoint-3 .display-controls .display-icon-container,
.jwplayer.skin-alaska.state-idle.breakpoint-2 .display-controls .display-icon-container  {
  height: 60px;
  width: 60px;
}

.jwplayer.skin-alaska.state-idle.breakpoint-1 .display-controls .display-icon-container,
.jwplayer.skin-alaska.state-idle.breakpoint-0 .display-controls .display-icon-container {
  height: 40px;
  width: 40px;
}

.jwplayer.skin-alaska.state-idle.breakpoint-3 .display-controls .display-icon-container .icon,
.jwplayer.skin-alaska.state-idle.breakpoint-2 .display-controls .display-icon-container .icon {
  height: 40px;
  width: 40px;
  padding: 10px;
}

.jwplayer.skin-alaska.state-idle.breakpoint-1 .display-controls .display-icon-container .icon,
.jwplayer.skin-alaska.state-idle.breakpoint-0 .display-controls .display-icon-container .icon {
  height: 20px;
  width: 20px;
  padding: 10px;
}

.jwplayer.skin-alaska.state-idle .display-controls .display-icon-container:hover {
   background-color: #92DCE5;
}

.jwplayer.skin-alaska.state-idle .display-controls .display-icon-container .icon:hover {
  color: #fff;
}

.jwplayer.skin-alaska.state-paused .controls {
  background-color: rgba(147, 221, 230, .3);
}


/* Customize font style and positioning for titles */
.jwplayer.skin-alaska.state-idle .title {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Apply new styles to video title and description, handle transitions */
.jwplayer.skin-alaska .title-primary {
  font-size: 48px;
  padding: 30px;
  color: #1E1E1E;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* Apple new styles to video description */
.jwplayer.skin-alaska .title-secondary {
  font-size: 18px;
  max-width: 70%;
  font-weight: 500;
  opacity: 0;
  margin: 0 auto;
  color: #1E1E1E;
  text-align: center;
  font-family: 'Merriweather', serif;
  white-space: normal;
  line-height: 1.3;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* Decrease font size on medium-small breakpoints */
.jwplayer.skin-alaska.breakpoint-3 .title-primary,
.jwplayer.skin-alaska.breakpoint-2 .title-primary,
.jwplayer.skin-alaska.breakpoint-1 .title-primary,
.jwplayer.skin-alaska.breakpoint-0 .title-primary {
  font-size: 22px;
}

.jwplayer.skin-alaska.breakpoint-3 .title-secondary,
.jwplayer.skin-alaska.breakpoint-2 .title-secondary {
  font-size: 14px;
}

/* Hide the description on smallest breakpoints */
.jwplayer.skin-alaska.breakpoint-1 .title-secondary,
.jwplayer.skin-alaska.breakpoint-0 .title-secondary {
  display: none;
}

/* Change colors and remove gradient shadow for control bar, change icon color on pause */
.jwplayer.skin-alaska .display {
  padding-bottom: 45px;
}

.jwplayer.skin-alaska .controlbar {
  background-color: #fff;
}

.jwplayer.skin-alaska .controlbar .button-container .button-color {
  color: #1E1E1E;
}

.jwplayer.skin-alaska.state-paused .controlbar .button-container .button-color {
  color: #e5322c;
}

.jwplayer.skin-alaska .controlbar .button-container .button-color:hover {
  color: #92DCE5;
}


/* Move tooltips closer to control bar with inline timeslider, change colors, round corners, remove shadow */
.jwplayer.skin-alaska .controlbar .tooltip {
  bottom: 70%;
  box-shadow: none;
}

.jwplayer.skin-alaska .controlbar .tooltip.open {
  border-radius: 5px;
  color: #92DCE5;
}

.jwplayer.skin-alaska .controlbar .tooltip .text {
  background-color: #92DCE5;
  border-radius: 5px;
  border: 0;
}

.jwplayer.skin-alaska .controlbar .text {
  color: #1E1E1E;
}

.jwplayer.skin-alaska .volume-tip,
.jwplayer.skin-alaska .time-tip {
  padding-bottom: 0;
}


/* Customize colors of volume control knob */
.jwplayer.skin-alaska .overlay .slider-volume .slider-container .knob {
  background-color: #e5322c;
}


/* Customize colors of timeslider */
.jwplayer.skin-alaska .controlbar .slider-time .slider-container .rail {
  background-color: #1E1E1E;
}

.jwplayer.skin-alaska .controlbar .slider-time .slider-container .buffer {
  background-color: #92DCE5;
}

.jwplayer.skin-alaska .controlbar .slider-time .slider-container .progress {
  background-color: #e5322c;
}

.jwplayer.skin-alaska .controlbar .slider-time .slider-container .knob {
  background-color: #e5322c;
}


/* Customize colors/opacity of the settings menu */
.jwplayer.skin-alaska .settings-menu {
  background-color: transparent;
}

.jwplayer.skin-alaska .settings-menu .settings-topbar {
  background-color: #92DCE5;
}

.jwplayer.skin-alaska .settings-menu .settings-topbar .icon:hover {
  color: #1E1E1E;
}

.jwplayer.skin-alaska .settings-menu .settings-submenu {
  background-color: rgba(255, 255, 255, .65);
}

.jwplayer.skin-alaska .settings-menu .settings-content-item {
  color: #1E1E1E;
}

.jwplayer.skin-alaska .settings-menu .settings-content-item:hover,
.jwplayer.skin-alaska .settings-menu .settings-item-active {
  color: #e5322c;
  font-weight: bold;
}
